*{
   padding: 0px ;
}

.header-container{
   
    height: 100px;
    background-color: #28946fc0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 1px 3px #e9811f;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}
.title-div{
    width: 30vW;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}
.title-name{
    font-size: 30px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FF9760;
}
.go-span{
    color: #fe455a;
}

.searchBar{
    width: 40vW;
    height: 3vh;
    border-radius: 50px;
    border: none;
    padding: 5px
}
.search-bar>input{
    width: 90%;
}

.search-bar > input::placeholder {
  color: white;
}


.nav-bar ul{
    display: flex;
    list-style: none;

}
.nav-bar ul li{
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #FFD150;
}
.nav-bar> ul> li:hover{
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

/* Body Style */
.items-conatiner{
    background-color: #F8FAFC;
    width: 100%;
    margin-top: 30px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 130px;

}

.item-card{
    width: 250px;
    background-color: #ffd501;
    box-shadow: 0px 1px 2px #458B73;
    margin: 30px;
    overflow: hidden;
    border-radius: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #460468;
}
.item-card:hover{
  box-shadow: 0px 2px 3px white;
}
.img-div{
     object-fit: cover;
}
.item-img{
    width: 100%;
    height: 25vh;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
   
}
.item-res{
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.item-loc{
     margin: 10px;
}
.item-rp{
     margin: 10px;
}

/* Footer Style */

.footer-div{
    width: 100%;
    height: 200px;
    background-color: #FF9760;
    color: #F8FAFC;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}